html, body {
}

body {
    box-sizing: border-box;
}

a {
    text-decoration: none !important;
}

.clickable {
    cursor: pointer;
}

input:invalid, .required {
}

input:valid {
}

.form-control:valid {
}

.form-control {
}

/* navbar */

.navbar {
    border-bottom: lightgray;
    border-bottom-width: 2px;
    border-bottom-style: solid;
}

.navbar-brand {
    color: #006eb1;
}

.dropdown-menu {
    padding-top: .5rem;
    padding-bottom: 0;
}

.dropdown-divider {
    margin: 0;
}

.dropdown-item {
    padding: .75rem 1.5rem;
}

.alert {
    position: fixed;
    z-index: 9999;
    top: 8.5%;
    width: 70%;
    margin-left: 15%;
    padding: 10px;
    text-align: center;
    display: none;
}

.breadcrumb {
    background-color: white;
}

/* footer */

.footer-container {
    border-top: lightgray;
    border-top-width: 2px;
    border-top-style: solid;
    padding: 0 !important;
}

.footer-middle {
    font-size: 0.75rem;
    text-decoration: none;
}

.footer-icon {
    max-height: 2.4rem;
}


/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
    .mobile-block { display: block; } 
    .mobile-inline { display: inline; } 
    .mobile-flex { display: flex; } 
    .desktop-block { display: none; } 
    .desktop-inline { display: none; }
    .desktop-flex { display: none; }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    .mobile-block { display: block; } 
    .mobile-inline { display: inline; } 
    .mobile-flex { display: flex; } 
    .desktop-block { display: none; } 
    .desktop-inline { display: none; }
    .desktop-flex { display: none; }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .mobile-block { display: none; } 
    .mobile-inline { display: none; } 
    .mobile-flex { display: none; }
    .desktop-block { display: block; } 
    .desktop-inline { display: inline; }
    .desktop-flex { display: flex; }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    .mobile-block { display: none; } 
    .mobile-inline { display: none; } 
    .mobile-flex { display: none; } 
    .desktop-block { display: block; } 
    .desktop-inline { display: inline; }
    .desktop-flex { display: flex; }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    .mobile-block { display: none; } 
    .mobile-inline { display: none; } 
    .mobile-flex { display: none; }
    .desktop-block { display: block; } 
    .desktop-inline { display: inline; }
    .desktop-flex { display: flex; }
}