
.job-color-timed-out {
    color: brown;
}

.job-color-aborted {
    color: black;
    font-weight: bold;
}

.job-color-error {
    color: red;
    font-weight: bold;
}

.job-color-unknown {
    color: gray;
}

.job-color-pending {
    color: orange;
}

.job-color-copy-pending {
    color: magenta;
}

.job-color-processing {
    color: blue;
}

.job-color-success {
    color: green;
}

#pdf-file {
    height: 7.5rem;
}

#pdf-file:hover {
    background-image: url(../images/PDF-file-hover.png);
    background-size: cover;
}

.job-color-table-error {
    background-color: #ff021d0a;
}

.job-color-table-success {
    /* background-color: #02ff1d0a; */
}