<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="shortcut icon" href="../static/images/favicon.ico">
	<title>PRIMO</title>
	
	<link rel="stylesheet" type="text/css" href="../static/lib/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="../static/css/common.css" />
	<link rel="stylesheet" type="text/css" href="../static/css/patients.css" />
</head>

<body>
    
    <!-- navbar -->
    {% include 'partials/navbar.html' %}

    <!-- breadcrumb -->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Patients</li>
        </ol>
    </nav>
    
    <br>
    <div class="container-fluid">
        <div class="row">
            <div class="col-1">
            </div>
            <div class="col-10">

                <!-- table -->
                <table class="table table-hover table-responsive-sm">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Lastname, Name</th>
                            <th scope="col">ID</th>
                            <th scope="col">Sex</th>
                            <th scope="col">Birthdate</th>
                            <th scope="col">Address</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for patient in patients %}
                            <tr id="{{ patient.patient_ID }}" >
                                <td> {{ [patient.patient_lname, patient.patient_fname] | join(', ') | title }} </td>
                                <td> {{ patient.patient_ID2 }}</td>
                                <td> {{ patient.patient_sex }}</td>
                                <td> {{ patient.patient_birth }} </td>
                                <td> {{ patient.patient_address1 }} </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                
            </div>
        </div>
    </div>

    <script src="../static/lib/js/jquery-3.3.1.min.js"></script>
    <script src="../static/lib/js/popper.min.js"></script>
    <script src="../static/lib/js/bootstrap.min.js"></script>        
</body>



