<footer class="bg-light fixed-bottom">
    <div class="container-fluid footer-container">
        <div class="row no-gutters">
            <div class="col-1">
            </div>
            <!-- links -->
            <div class="col-md-3 col-7">
                <div class="media mt-3 mb-3">
                    <a href="https://www.primoproject.net"><img class="footer-icon align-self-center mr-3" src="/static/images/logo-clipart.png" alt="PRIMO"></a>
                    <div class="media-body">
                        <p class="footer-middle mb-0"><a href="https://www.primoproject.net"><b>www.primoproject.net</b></a></p>
                        <p class="footer-middle mb-0"><a href="mailto:primoproject@gmail.com">primoproject@gmail.com</a></p>
                    </div>
                </div>
            </div>
            <!-- copy right -->
            <div class="col-md-4 d-none d-md-block">
                <p class="footer-middle mt-4 text-center">PRIMO project / All rights reserved</p>
            </div>
            <!-- go to top -->
            <div class="col-3">
                <p class="text-right footer-middle mt-3"><a href="#top"><img class="footer-icon opacity-hover" src="/static/images/go-to-top.png"></a></p>
            </div>
        </div>
    </div>
</footer>